
		body {
			text-align: center;
			background-color: lightgrey;
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			color:black;
			font-size: 40px;
		}
		header {
			background-color: lightgrey;
			color: #fff;
			padding: 10px;
			text-align: center;
		}
		h1 {
			font-size: 80px;
			margin: 0;
			color:white;    
		}
		.color1{
			color :#007A4D;
			}
		.color2{
			color:#FFB612;
			}
		.color3{
			color :#002395;
			}
		.color4{
			color:#DE3831;
			}
		.color5{
			color:#000000;
			}
		.color6{
			color:#FFFFFF;
			}
		h2 {
			font-size: 48px;
			margin: 30px;
            
		}
		.banner {
			background-image: url('img/background-image');
			background-size:contain;
			height: 25px;width: 25px;
		}
		.container {
			background-color: lightgrey;
			max-width: 500px;
			margin: 0 auto;
			padding: 10px;
		}
		p {
			font-size: 25px;
			line-height: 1.5;
		}
		.quote {
			font-size: 24px;
			font-style: italic;
			margin: 40px 0;
			text-align: center;
		}
		/* footer button  */
		.btn {
			border: none; /* Remove borders */
			color: white; /* Add a text color */
			padding: 14px 28px; /* Add some padding */
			cursor: pointer; /* Add a pointer cursor on mouse-over */
		  }
		  
		  .btn {background-color: #04AA6D;} /* Green */
		  .btn:hover {background-color: #46a049;}
		
		 	
	